QRadioButton::indicator#playPauseButton {
    width: 50px;
    height: 50px;
    background: none;
    background-repeat: none;
}

QRadioButton::indicator::unchecked#playPauseButton {
    image: url(:images/play.png);
}

QRadioButton::indicator::checked#playPauseButton {
    image: url(:images/pause.png);
}
